*{
    margin: 0;
    padding: 0;
}

/* section1 */

#section1{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f234e;
}

#section1 .centerTxt{
    position: absolute;
    width: 70%;
    right: 0;
}

#section1 .line{
    width: 100%;
    height: 1px;
    background-color: rgb(180, 173, 110);
    margin: 20px 0 10px 0;
}

#section1 .title{
    font-family: 'Lobster', cursive;
    font-size: 80px;
    color: rgb(180, 173, 110);
    font-weight: Bold 700;
}

#section1 .content{
    font-family: 'STIX Two Text', serif;
    font-size: 30px;
    color: rgba(180, 173, 110, 0.712);
    letter-spacing: 20px;
}

/* section2 */

#section2{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f234e;
}

#section2 img{
    position: absolute;
    left: 10%;
    top: 0;
    width: 40%;
    height: 60%;
    margin-right: 10%;
}

#section2 .centerTxt{
    position: absolute;
    bottom: 20%;
    left: 60%;
}

#section2 .line{
    width: 1px;
    height: 100px;
    background-color: rgb(180, 173, 110);
    margin: 20px;
}

#section2 .title{
    font-family: 'STIX Two Text', serif;
    font-size: 30px;
    color: rgb(180, 173, 110);
    font-weight: 600;
    margin-bottom: 20px;
}

#section2 .content{
    font-size: 15px;
    color: rgba(180, 173, 110, 0.712);
}