*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

aside{
    width: 200px;
    height: 100%;
    background-color: cadetblue;
    position: fixed;
}

aside a{
    display: block;
    padding: 20px;
    text-decoration: none;
}

section{
    height: 100%;
    width: 100%;
    position: fixed;
    margin-left: 200px;
    padding: 20px;
    background-color: coral;
}